#right2{
    background-image: url(../image/hangzhouMap.png);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-position: 100% 80%;
    background-size: 85%;
}
#left1{
    background-image: url(../image/worldMap.png);
    background-repeat:no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: 100%;
}
h2{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 8px;
}
table{
    margin: auto 0px ;
    /*background-color: #9966CC;*/
    width: 100%;
    height: 10%;
    position: relative;
    bottom:0px;
    /*text-align: center;*/
}
.td1{
    color: #ffffff;
    font-size: 10px;
}
.data1{
    color: #ff0000;
    font-size: 12px;
}
#center{
    border:solid 0px;
    border-color: #ff0000;
}
#left_line,#right_line,#left_bar,#right_bar{
    /*padding:20% 20%;*/
    width: 45%;
    height:35%;
    float: left;
    margin-left:3%;
}
#left3_table{
    border:solid 5px;
    border-color: #1a6091;
    background-color: #1F1F7A;
    width:80%;
    /*height:20%;*/
    text-align: center;
    font-size: 5px;
    color: #ffffff;
    border-collapse: separate;
    border-spacing: 0px 0px;
    margin-left: auto;
    margin-right: auto;
}
.tr1{
    height:10%;
}
.tr1_head{
    font-size:8px;
    color: #FFFF00;
}
#line_d{
    /*left:10%;*/
    position: relative;
    bottom: 0px;
    padding-top:5%;
    width: 100%;
    height:20%;
    float: left;
    clear: left;
}
#left3_d{
    width:50%;
    height:45%;
    float: right;
    /*align-content: center;*/
}
#right2_table{
    border-collapse: separate;
    border-spacing: 5px 2px;
    margin-left: 5%;
    margin-right: auto;
}
.td2{
    color: #FFFFFF;
    font-size:6px;
}
.td3{
    background-color: #00ff00;
}
#left1_table{
    border:solid 0.2px;
    border-color: #eb6100;
    border-collapse: separate;
    border-spacing: 1px 1px;
    /*position: relative;*/
    /*margin:auto auto 0;*/
    vertical-align: text-bottom;
}
#left_line,#left_bar,#right_line,#right_bar{
    border:solid 1px;
    border-color: #fd971f;
}
#center_table{
    border:solid 1px;
    border-color: #fd971f;
}